:root {
	--primary-color: #C7D3DD;
	--secondary-color: #D6C9C9;
	--dark: #37393A;
	--white: white;
  }

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: var(--primary-color);
}

.body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.left {
	flex: 1;
	
}

.right {
	flex: 2;
	display: flex;
	justify-content: center;
}

.right img {
	height: 80vh;
}

.dice img{
	width:80px;
}

.row{
	margin:auto;
	width: 800px;
	max-width: 100%;
}
h1 {
	height: 100px;
	max-height: 100%;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	color: #454747;
	font-weight: 200;
}

h1 span {
	font-weight: 800;
	color: var(--dark);
}

.dice{
	max-width: 520px;
	margin:0 auto;
}
.score{
	background-color: var(--dark);
	color: #fff;
	height: 60px;
	max-height:100%;
	font-size: 32px;
	text-align: center;
	line-height: 60px;
	width:100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
}
.button {
  background-color: var(--dark);
  color: var(--secondary-color);
  padding: 15px 25px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 25px;
  border-radius: 7px;
  transition: .5s;
  cursor: pointer;
}

.button:hover {
	background-color: #37393aa6;
}

.column{
	float: left;
	width:20%;
	margin-left: 160px;
}

.transparent{
	/*For dice that are selected*/
	opacity: 0.75;
}